# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.log
*.ilk
*.pdb


CinderProject/
Debug/
.vs/
*.ilk
*.log
*.pdb
reference material/Practical_Geometry_Algorithms_Code_2021/vector.c
